.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(31, 31, 36);
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.settings-button {
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  margin-left: 50px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(194, 40, 40);
  color: rgb(213, 213, 213);
  font-size: 1.5rem;
  font-weight: 500;
}

.settings-button:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
}

.settings-button:focus {
  transform: scale(0.9);
}

.score {
  position: absolute;
  right: 0;
  margin-right: 50px;
  color: beige;
  font-size: 1.5rem;
  font-weight: 400;
}

.logo {
  height: 150px;
  width: 400px;
}

.quiz-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
  gap: 100px;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  max-width: 900px;
  height: 500px;
  border-radius: 30px;
  background-color: rgb(255, 204, 1);
  padding: 20px;
}

.pokemon-img {
  height: 300px;
  width: 300px;
}

.hiden {
  filter: brightness(0);
}

.show {
  animation: show 1s ease-in-out;
}

@keyframes show {
  0% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}

.pokemon-name {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(31, 31, 36);
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 900px;
  height: 500px;
  gap: 20px;
  border-radius: 30px;
  background-color: rgb(54, 95, 172);
  padding: 20px;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(158, 12, 12);
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 30px;
}

.form-input {
  display: flex;
  align-items: center;
  width: 80%;
  height: 40px;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgb(31, 31, 36);
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(213, 213, 213);
}

.input-disabled {
  pointer-events: none;
  background-color: rgba(31, 31, 36, 0.52);
}

.form-input:focus {
  outline: none;
}

.form-button {
  width: 60px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: rgb(16, 24, 68);
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(213, 213, 213);
}

.form-button:hover {
  cursor: pointer;
  background-color: rgb(32, 45, 116);
}

.disabled {
  pointer-events: none;
  background-color: rgba(13, 19, 54, 0.595);
}

.hints {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  gap: 20px;
}

.hint {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(31, 31, 36);
  color: rgb(213, 213, 213);
  font-size: 1.2rem;
  width: 80%;
  height: 40px;
  padding: 5px;
}

.show-hint {
  background-color: rgba(14, 113, 22, 0.793);
  transition: all 0.3s ease-in-out;
}

.show-hint::placeholder {
  color: rgb(202, 202, 202);
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: openModal 0.3s ease-in-out;
}

@keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide-modal {
  display: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  background-color: rgb(31, 31, 36);
  padding: 0 20px 20px 20px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  gap: 20px;
}

.modal-header > h2 {
  color: rgb(213, 213, 213);
}

.close-modal-button {
  right: 0;
  border: none;
  color: rgb(186, 0, 0);
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 500;
}

.close-modal-button:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
  transform: scale(1.2);
}

.close-modal-button:focus {
  transform: scale(0.8);
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(90, 90, 90, 0.662);
}

.settings-gens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.settings-gens > h4 {
  margin-top: 20px;
  color: rgb(165, 255, 175);
  font-weight: 500;
}

.generations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  gap: 20px;
}

.generation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: rgb(213, 213, 213);
  font-size: 1.2rem;
  font-weight: 500;
}

.checkbox-input {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid rgb(213, 213, 213);
  background-color: rgb(31, 31, 36);
}

@media screen and (max-width: 768px) {
  .app-header {
    flex-direction: column;
    margin: 10px 0;
  }
  .logo {
    width: 250px;
    height: 90px;
  }
  .settings-button {
    margin-left: 20px;
    margin-bottom: 50px;
  }
  .score {
    position: relative;
    margin: 0;
  }
  .quiz-container {
    flex-direction: column;
  }
  .img-container {
    width: 100%;
    max-width: 500px;
    height: 300px;
  }
  .img-container > img {
    margin-top: 30px;
    width: 150px;
    height: 150px;
  }
  h3 {
    font-size: 1.5rem;
  }
  .pokemon-name {
    font-size: 1.2rem;
  }
  .options-container {
    width: 100%;
    max-width: 500px;
  }
  .hint {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .score {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 1rem;
  }
  .quiz-container {
    height: 100vh;
    gap: 10px;
  }
  h3 {
    font-size: 1.2rem;
  }
  .form-container {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .form-button {
    width: 70%;
  }
  .form-input::placeholder {
    font-size: 0.8rem;
  }
  .hint::placeholder {
    font-size: 0.8rem;
  }
  .options-title {
    order: 1;
  }
  .hints {
    order: 2;
  }
  .form-container {
    order: 3;
  }
  .buttons-container {
    order: 4;
  }
}
